<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SAPLibraryParaguay.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SAPLibraryParaguay.Properties.Settings>
            <setting name="tsete" serializeAs="String">
                <value>teste</value>
            </setting>
            <setting name="Server" serializeAs="String">
                <value>winserver</value>
            </setting>
            <setting name="DBUser" serializeAs="String">
                <value>sa</value>
            </setting>
            <setting name="DBServerType" serializeAs="String">
                <value>MSSQL2008</value>
            </setting>
            <setting name="DBPassword" serializeAs="String">
                <value>raposa28@09</value>
            </setting>
            <setting name="DBName" serializeAs="String">
                <value>SBO_SideragroNueva</value>
            </setting>
            <setting name="BOUser" serializeAs="String">
                <value>emerson</value>
            </setting>
            <setting name="BOPassword" serializeAs="String">
                <value>0104452</value>
            </setting>
            <setting name="reportPath" serializeAs="String">
                <value>reports\</value>
            </setting>
        </SAPLibraryParaguay.Properties.Settings>
    </userSettings>
</configuration>